#button
{
	text-align: center;
	z-index: 10;	/* d‚È‚è‚ğã‚É‚·‚é‚½‚ß */
	position: absolute;	/* positionw’è‚µ‚È‚¢‚Æz-index‚ªŒø‚©‚È‚¢ */
	margin: auto;
	top: 20px;
	right: 0px;
    	left: 0px;
    	bottom: 0px;
}

canvas
{
	z-index: 1;
}

